*, *::before, *::after {
  margin: 0;
  padding: 0;
}

.container {
  min-width: 250px;
  min-height: 250px;
  width: 50vh;
  height: 40vh;
  background-color: hsla(100,10%,10%, 0.9);
  margin: 0 auto;
  margin-top: 10%;
  color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 20px;
}

.form-search {
  display: flex;
  align-items: center;
  justify-content:center;
}

.form-input {
  background-color:hsla(0, 0%, 40%, 0.4);
  outline: none;
  border-radius: 30px;
  border: none;
  height: 2.5rem;
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
  padding: 0 10px;
  margin-right: 1rem;
  width: 75%
}

.button-search {
  width: 40px;
  height: 40px;
  background: url('./assets/svg/icons8-search.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color:hsla(0, 0%, 40%, 0.4);
  border-radius: 50%;
  /* filter: invert(99%) sepia(65%) saturate(400%) hue-rotate(48deg) brightness(124%) contrast(95%); */
  cursor: pointer;
}


.city-name {
  padding-top: 1.2rem;
}

.temperature {
  font-size: 2.4rem;
  padding-top: 0.6rem;
}

.additional {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.additional > div {
  padding-top: 0.3rem;
  font-size: 1.1rem;
}